[tower]
localhost ansible_connection=local

[database]
{{ pg_host }}

[all:vars]
admin_password='{{ admin_password }}'

pg_host='{{ pg_host }}'
pg_port='{{ pg_port }}'

pg_database='{{ pg_database }}'
pg_username='{{ pg_username }}'
pg_password='{{ postgresql_password }}'

rabbitmq_port={{ rabbitmq_port }}
rabbitmq_vhost={{ rabbitmq_vhost }}
rabbitmq_username={{ rabbitmq_username }}
rabbitmq_password={{ rabbitmq_password }}
rabbitmq_cookie={{ rabbitmq_cookie }}

# Needs to be true for fqdns and ip addresses
rabbitmq_use_long_name=false
